@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

/*kaikille sivuille yhteinen*/
body {
  color: #010710;
  background-color: #FEFBF8;
}
header {
  text-align: center;
}
.logo {
  width:30%;
}
nav a {
  background-color: #FFD094;
  color: #010710;
  padding: 2px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2%;
  align-items: center;
  font-family:'Noto Sans', Sans-serif;

}
a:hover, a:active {
  background-color: #C7B097;
}
#valittu {
  background-color: #C7B097;
}
hr {
  height:2px;
  background-color: #010710;
  border-width:0;
}
footer{
  font-family: 'Noto Sans', Sans-serif;
  font-size: 16px;
  background-color: #FEFBF8;
  text-align: center;
  padding: 5%;
}
.fa {
  padding: 0px;
  font-size: 40px;
  width: 60px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
  background-color: #FEFBF8;
  color: #C7B097;
}
.fa-facebook {
  background: #FEFBF8;
  color: #010710;
  text-decoration: none;
}
.fa-instagram {
  background: #FEFBF8;
  color: #010710;
  text-decoration: none;
}


/*etusivun tyylit*/
.kaaryleet {
  width:100%;
}
.kuvaus {
  color: #010710;
  background-color: #C7B097;
  font-family: 'Noto Sans', Sans-serif;
  font-size: 150%;
  text-align: center;
  padding: 5%;
  margin: 0px;
}
#selaa {
  background-color: #FFD094;
  color: #010710;
  border-color: #010710;
  border: 1px;
  padding: 2px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
  font-family:'Noto Sans', Sans-serif;
  font-size: 70%;
}
/*resepti sivun tyyli*/
.kaikkireseptit{
  background-color: #C7B097;
  width: 100%;
}
.kuvakkeet {
  background-color: #FEFBF8;
}
h2 {
  font-family: "Sriracha", cursive;
  font-size: 30px;
  padding: 0% 2% 2% 2%;
  margin: 1%;
}
h3 {
  font-family: "Sriracha", cursive;
  font-size: 20px;
}
#lista {
  padding: 1% 2% 2% 2%;
  font-family:'Noto Sans', Sans-serif;
  font-size: 16px;
  margin: 1%;
}
/*info sivun tyylit*/
table {
  font-family:'Noto Sans', Sans-serif;
  border-collapse: collapse;
  width: 50%;
}
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.yhteystiedot {
  margin: 1% 5% 5% 5%;
}
#jauhokulho {
  width: 40%;
}


/*tyylit isossa näyttössä*/
@media screen and (min-width: 1000px) {
body {
    margin-left: 20%;
    margin-right: 20%;
}

  /*etusivu*/
  .kuvaus {
    width: 50%;
  }
  .lusikat {
    width:50%;
  }
  #kuvauslusikat {
  display: flex;
  flex-direction: row;
  }

  /*reseptit*/
  * {
    box-sizing: border-box;
  }
  .kuvakkeet {
    float: left;
    padding: 0% 0% 4% 4%;
    max-width: 45%;
    width: 50%;
    margin: 2%;
  }
  #image {
    max-width: 90%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /*info sivu*/
  .yhteystiedot {
    float: right;
  }
  #jauhokulho {
    width: 40%;
  }
}
/*mobiilikoko*/
@media (max-width: 800px) {
  body {
    margin:0px;
  }
  /*Etusivu*/
  .kuvaus {
    width: 100%;
  }
  .lusikat {
    width:100%;
  }
  /*Reseptit*/
  .kuvakkeet {
    padding: 3% 5% 4% 5%;
    max-width: 90%;
    margin: 2%;
  }
  #image {
    min-width: 100%;
  }
  /*info*/
  #jauhokulho {
    width: 80%;
    margin: 5% 5% 5% 5%;
  }
}