/*koko sivustolla*/
    /* Otsikoiden-fontti */
    h1, h2, h3, h4, h5 {
        font-family: 'Noto Serif', serif;
    }

    /* muiden tekstien fontti */
    p, li, a, button, nav {
        font-family: 'Noto Sans', sans-serif;
    }

/* Navigaation CSS */
    /* Navin tausta väri*/
    .navbar-custom {
        background-color: #333333;
        text-decoration: none;
    }
    /* Tekstin väri navissa */
    .navbar-custom .navbar-text{
        color: rgb(255, 255, 255);
    }
    /* Navi linkkien väri */
    .navbar-custom .navbar-nav .nav-link {
        color: rgb(255, 255, 255);
    }
    /* aktiivisen & hover-linkin väri */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: rgb(220, 150, 30);
    }
    /* linkin alleviivais pois*/
    .navbar-custom {
        text-decoration: none;
    }
    /* Hampurilaisvalikon vaakaviivojen väri valkoiseksi*/
    .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
     }
  
    /* Hampparin reunuksen väri*/
    .navbar-toggler {
        color: rgb(220, 150, 30);
    }
