/* Värit */
.bg-darkblue {
  background-color: #002b5c !important;
}

.navbar .nav-link,
.navbar-brand {
  color: #fff !important;
}

body {
  background-color: #fff;
  color: #000;
}

a {
  color: #067e8e;
}

.btn-custom {
  background-color: #067e8e;
  color: #fff;
}

.btn-custom:hover {
  background-color: #067e8e;
}
